# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Watrix.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jonathan.botha\RiderProjects\Watrix\.idea\.idea.Watrix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
